* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	min-height: 100%;
}

#mapa {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

#geolocation {
	position: absolute;
	z-index: 2;
	top: 5px;
	right: 5px;
	font-size: 13px;
	background-color: #3071a9;
	color: #fff;
	border: 1px solid #285e8e;
	padding: 6px 12px;
	border-radius: 4px;
}

#popup {
	width: 195px;
	font-size: 13px;
	position: absolute;
	border-radius: 5px;
	padding: 8px 10px;
	background-color: #fff;
	border: 2px solid #ccc;
}