* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	min-height: 100%;
}

#mapa {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

#layers {
	position: absolute;
	z-index: 2;
	background-color: rgba(0, 60, 136, 0.7);
	color: #fff;
	padding: 8px 12px;
	font-size: 12px;
	right: 5px;
	top: 5px;
}

#layers > ul {
	list-style: none;
}